services:
  proxy:
    container_name: "tino-blog-proxy"
    restart: unless-stopped
    build:
      context: ./proxy
      tags:
        - tino-blog-proxy:1.3.4
    ports:
      - "443:443"
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    volumes:
      - ${SSL_CERTIFICATES_PATH}:/etc/nginx/ssl
    depends_on:
      - frontend
    networks:
      - network

  frontend:
    container_name: "tino-blog-frontend"
    restart: unless-stopped
    build:
      context: ./frontend
      tags:
        - tino-blog-frontend:1.3.4
    depends_on:
      - api
    networks:
      - network

  api:
    container_name: "tino-blog-api"
    restart: unless-stopped
    build:
      context: ./backend
      tags:
        - tino-blog-api:1.3.4
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      - postgres
    networks:
      - network

  postgres:
    container_name: "tino-blog-postgres"
    restart: always
    build:
      context: ./postgres
      tags:
        - tino-blog-postgres:1.3.4
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_INITDB_ARGS=--auth=scram-sha-256
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - network

volumes:
  db-data:

networks:
  network:
    driver: bridge
