<div class="width-700">
  <h1 *ngIf="!rssFeedId" class="title">Add a new RSS feed</h1>
  <h1 *ngIf="rssFeedId" class="title">Edit RSS feed</h1>

  <div
    *ngIf="loadingRssFeed"
    class="d-flex flex-column justify-content-center align-items-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <p
    *ngIf="rssFeed === undefined"
    class="text-center text-danger fs-5">
    An error has occurred x_x
  </p>

  <form
    *ngIf="!loadingRssFeed && rssFeed !== undefined"
    (ngSubmit)="onSubmit(form)"
    class="d-flex flex-column gap-3"
    #form="ngForm">

    <input type="hidden" [(ngModel)]="rssFeed!.id" name="id" />

    <label class="d-flex flex-column">
      Description*
      <input
        [(ngModel)]="rssFeed!.description"
        [ngClass]="{
          'is-invalid': form.controls['description'] &&
          (form.controls['description'].dirty || form.submitted) &&
          form.controls['description'].invalid
        }"
        name="description"
        type="text"
        maxlength="255"
        class="form-control"
        autocomplete="off"
        required>
    </label>

    <label class="d-flex flex-column">
      URL*
      <input
        [(ngModel)]="rssFeed!.url"
        [ngClass]="{
          'is-invalid': form.controls['url'] &&
          (form.controls['url'].dirty || form.submitted)
          && form.controls['url'].invalid
        }"
        name="url"
        type="text"
        maxlength="255"
        class="form-control"
        autocomplete="off"
        required>
    </label>

    <div class="form-check form-switch">
      <label
        class="form-check-label"
        for="showArticlesDescription">
        Display articles description <span class="small">(Articles' description is shown in the snippets inside lists)</span>
      </label>
      <input
        [(ngModel)]="rssFeed!.showArticlesDescription"
        id="showArticlesDescription"
        class="form-check-input"
        type="checkbox"
        name="showArticlesDescription">
    </div>

    <button *ngIf="!rssFeedId" type="submit" class="btn btn-primary">Add</button>
    <button *ngIf="rssFeedId" type="submit" class="btn btn-primary">Save changes</button>

    <p
      *ngIf="errorMessage !== ''"
      class="text-center text-danger">{{ errorMessage }}</p>
  </form>
</div>
