<div class="width-700">
  <div
    class="d-flex flex-column gap-4">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <h2
        class="title">
        Articles from useful RSS feeds
      </h2>

      @if (authService.isTokenValid() && !loadingArticles) {
        <button
          (click)="reloadRssArticles()"
          class="btn btn-secondary bi bi-arrow-clockwise ms-auto"> Reload cache</button>
      }
    </div>

    <app-article-list
      [articles]="articles"
      [loadingArticles]="loadingArticles"
      [onViewArticle]="onViewRssArticle"></app-article-list>
  </div>
</div>
