<form
  class="d-flex flex-column gap-3 mx-auto"
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  style="max-width: 28rem; margin-top: 5rem">

  <h1 class="title">Login</h1>

  <label class="d-flex flex-column">
    Email
    <input
      class="form-control"
      type="email"
      formControlName="username"
      placeholder="email">
  </label>

  <label class="d-flex flex-column">
    Password
    <input
      class="form-control"
      type="password"
      formControlName="password"
      placeholder="password">
  </label>

  <button type="submit" class="btn btn-primary">Login</button>

  <p
    *ngIf="wrongCredentials"
    class="text-danger text-center">Wrong credentials!</p>
</form>
