<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{base-theme}"></th:block>
    <title>articles manager</title>
</head>
<body>
<th:block th:insert="~{navbar}"></th:block>

<section class="page-content">
    <h2 class="title">articles manager</h2>

    <div class="article-manager">
        <a th:href="@{/admin/articles/new}" class="new-button">
            <button class="button">Add article</button>
        </a>

        <th:block th:insert="~{/article/snippets/list}"></th:block>
    </div>
</section>


<th:block th:insert="~{footer}"></th:block>
</body>
</html>