<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{base-theme}"></th:block>
    <title>new article</title>
</head>
<body>
<th:block th:insert="~{navbar}"></th:block>

<section class="page-content">
    <form
            class="form"
            method="post"
            th:action="@{/admin/articles/save}"
            th:object="${article}">
        <h1 class="title">Create a new article</h1>

        <label>
            Title
            <input
                    th:field="*{title}"
                    type="text"
                    name="title"
                    placeholder="title">
        </label>
        <label>
            Content
            <textarea
                    th:field="*{content}"
                    name="content"
                    placeholder="content"
                    class="infinite-textarea"
                    style="resize: none"></textarea>
        </label>
        <button type="submit" class="button">Publish</button>
    </form>
</section>


<th:block th:insert="~{footer}"></th:block>
</body>
</html>