.article-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.article-list > div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    box-shadow: 0 0.3rem 0.7rem 0.1rem rgba(0, 0, 0, 0.4);
}

.article-snippet {
    padding: 1.8rem;
    border-radius: 0.4rem;
    min-height: 9rem;
    background: var(--secondary-color);
}

.article-snippet:hover {
    background: #2F2F47;
}

.article-actions {
    display: flex;
    justify-content: space-between;
    border: none;
    background: var(--tertiary-color);
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem 0.2rem 0 0;
    cursor: pointer;
}

.article-actions a {
    flex: 1;
    padding: 0.7rem;
    text-align: center;
}

.article-actions a:hover {
    background: #47465f;
}

.article-snippet h4 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.article-snippet h4,
.article-snippet p {
    text-transform: none;
}

.article-manager {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.article-manager .new-button {
    align-self: end;
}

.full-article {
    display: block;
    min-height: 20rem;
    margin: 3rem auto 0;
}

.full-article h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: -0.15rem;
    color: #d8bfe6;
    text-transform: none;
}

.manage-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.title-and-date {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.full-article > p {
    margin: 0 auto;
    width: 70%;
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: none;
}

@media screen and (max-width: 767px) {
    .full-article {
        width: 90%;
    }
}
