* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    background: linear-gradient(to top, #1E1E1E, #2E2E2E);
    color: white;
    min-height: 100%;
    font-family: "JetBrains Mono", serif;
    text-transform: lowercase;
}

a {
    text-decoration: none;
    color: white;
}

.page-content {
    width: 70%;
    margin: 0 auto;
}

.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
