* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    background: linear-gradient(to top, #1E1E1E, #2E2E2E);
    color: white;
    min-height: 100%;
    font-family: "JetBrains Mono", serif;
    text-transform: lowercase;
}

a {
    text-decoration: none;
    color: white;
}

.page-content {
    width: 70%;
    margin: 0 auto;
}

.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button {
    font-size: 1rem;
    padding: 1.1rem 1.5rem;
    border: none;
    background: #333333;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    border-color: transparent;
    box-shadow: 0 0.3rem 0.7rem 0 rgba(0, 0, 0, 0.4);
}