.login-form {
    width: 28rem;
    margin: 5rem auto 0;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    box-shadow: 0 0.5rem 0.7rem 0 rgba(0, 0, 0, 0.2);
}

.login-form h1 {
    text-align: center;
}

.login-form label {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align: right;
}

.login-form input {
    padding: 0.7rem;
    border: none;
    border-bottom-left-radius: 0.2rem;
    border-bottom: 0.2rem solid #ccc;
    border-left: 0.2rem solid #ccc;
    background: none;
    font-size: 1rem;
    color: white;
}
