<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="base-theme"></th:block>
    <title>Home</title>
</head>
<body>
<th:block th:insert="navbar"></th:block>

<section class="page-content">
    <h2 class="title">articoli</h2>

    <a href="/">
        <article class="article segmented-border">
            <p>Date</p>
            <h3>Titolo Titolo Titolo Titolo Titolo Titolo Titolo </h3>
            <p>Contenuto</p>
        </article>
    </a>
</section>

<th:block th:insert="footer"></th:block>
</body>
</html>