<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="base-theme"></th:block>
    <title>Login</title>
</head>
<body>
<th:block th:insert="navbar"></th:block>

<section class="page-content">
    <form class="login-form">
        <h1 class="title">Login</h1>

        <label>
            email
            <input type="email" placeholder="email">
        </label>

        <label>
            password
            <input type="password" placeholder="password">
        </label>

        <button type="submit">Login</button>
    </form>
</section>

<th:block th:insert="footer"></th:block>
</body>
</html>