.article-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.article-list > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  box-shadow: 0 0.3rem 0.7rem 0.1rem rgba(0, 0, 0, 0.4);
}
