* {
  font-family: "JetBrains Mono", serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet + * {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  flex-grow: 1;
}

router-outlet + * > * {
  width: 100%;
}

a {
  color: inherit;
}

.width-700 {
  max-width: 700px;
  margin: 0 auto;
}

.width-900 {
  max-width: 900px;
  margin: 0 auto;
}

.page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.infinite-textarea {
  resize: none;
  overflow: hidden;
}

/* Styling for markdown support */
.markdown-clipboard-button {
  display: none;
  border: none;
  background: rgb(91, 91, 91);
  color: white;
  padding: 0.15rem 0.55rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  transition: 0.15s;
}

div:has(> pre):hover .markdown-clipboard-button {
  display: block;
}

.markdown-clipboard-button:hover {
  background: rgb(101, 101, 101);
  color: white;
}
/* End of styling for markdown support */

@media screen and (max-width: 767px) {
  html {
    width: 100%;
  }

  .page-content {
    width: 93%;
  }
}
