<div class="width-700">
  <h1 *ngIf="!articleId" class="title">Create a new article</h1>
  <h1 *ngIf="articleId" class="title">Edit article</h1>

  <div
    *ngIf="loadingArticle"
    class="position-fixed top-50 start-50 translate-middle">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <p
    *ngIf="article === undefined"
    class="text-center text-danger fs-5">
    An error has occurred x_x
  </p>

<form
  *ngIf="!loadingArticle && article !== undefined"
  (ngSubmit)="onSubmit(form)"
  class="d-flex flex-column gap-3"
  #form="ngForm">

  <input type="hidden" [(ngModel)]="article!.id" name="id" />
  <input type="hidden" [(ngModel)]="article!.creationDateTime" name="creationDateTime" />

  <label class="d-flex flex-column">
    Title*
    <input
      [(ngModel)]="article!.title"
      [ngClass]="{
          'is-invalid': form.controls['title'] &&
          (form.controls['title'].dirty || form.submitted) &&
          form.controls['title'].invalid
        }"
      name="title"
      type="text"
      maxlength="255"
      class="form-control"
      autocomplete="off"
      required>
  </label>

  <label class="d-flex flex-column">
    <span>Slug* <span class="small">(cannot be changed afterwards)</span></span>

    <span class="small">
        <span class="small">Lowercase letters, numbers and hyphens only. No trailing or consecutive hyphens</span>
      </span>
    <span class="text-warning" style="font-size: 0.9rem">

      </span>
    <input
      [(ngModel)]="article!.slug"
      [ngClass]="{
          'is-invalid': form.controls['slug'] &&
          (form.controls['slug'].dirty || form.submitted) &&
          form.controls['slug'].invalid
        }"
      [disabled]="articleId != undefined"
      pattern="^[a-z0-9]+(-[a-z0-9]+)*$"
      name="slug"
      type="text"
      maxlength="255"
      class="form-control"
      autocomplete="off"
      required>
  </label>

  <label class="d-flex flex-column">
    <span>Short description <span class="small">(displayed only in the preview)</span></span>
    <input
      [(ngModel)]="article!.shortDescription"
      [ngClass]="{
          'is-invalid': form.controls['shortDescription'] &&
          (form.controls['shortDescription'].dirty || form.submitted) &&
          form.controls['shortDescription'].invalid
        }"
      name="shortDescription"
      type="text"
      maxlength="255"
      class="form-control"
      autocomplete="off">
  </label>

  <label class="d-flex flex-column">
    <span>Content* <span class="small">(with Markdown support)</span></span>
    <textarea
      [(ngModel)]="article!.content"
      [ngClass]="{
          'is-invalid': form.controls['content'] &&
          (form.controls['content'].dirty || form.submitted) &&
          form.controls['content'].invalid
        }"
      name="content"
      class="form-control"
      style="resize: none"
      rows="10"
      appAutoResize
      autocomplete="off"
      required></textarea>
  </label>

  <button *ngIf="!articleId" type="submit" class="btn btn-primary">Publish</button>
  <button *ngIf="articleId" type="submit" class="btn btn-primary">Save changes</button>

    <p
      *ngIf="errorMessage !== ''"
      class="text-center text-danger">{{ errorMessage }}</p>
  </form>
</div>
