@if (loadingArticles) {
  <app-loading-spinner class="flex-grow-1 d-flex flex-column"></app-loading-spinner>
} @else if (articles === undefined) {
  <p
    class="flex-grow-1 d-flex justify-content-center align-items-center m-0 text-center text-danger">
    An error has occurred x_x
  </p>
} @else if (articles.length === 0) {
  <p
    class="flex-grow-1 d-flex justify-content-center align-items-center m-0 text-center text-body-secondary">
    No articles published yet :C
  </p>
} @else {
  <div
    class="d-flex flex-column gap-2">
    @for (article of articles; track $index) {
      <div>
        <app-article-snippet
          [article]="article"
          [categoryName]="categoryNamesByArticleId?.get(article.id) ?? undefined"
          [onView]="onViewArticle"
          [onEdit]="onEditArticle"
          [onDelete]="onDeleteArticle"></app-article-snippet>
      </div>
    }

    @if (onPageChange && totalElements > pageSize) {
      <ngb-pagination
        class="app-pagination d-flex justify-content-center mt-4"
        [collectionSize]="totalElements"
        [pageSize]="pageSize"
        [page]="currentPage + 1"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        [ellipses]="false"
        (pageChange)="changePage($event)">
        <ng-template ngbPaginationFirst><i class="bi bi-chevron-double-left"></i></ng-template>
        <ng-template ngbPaginationPrevious><i class="bi bi-chevron-left"></i></ng-template>
        <ng-template ngbPaginationNext><i class="bi bi-chevron-right"></i></ng-template>
        <ng-template ngbPaginationLast><i class="bi bi-chevron-double-right"></i></ng-template>
      </ngb-pagination>
    }
  </div>
}
