@if (loadingArticles) {
  <app-loading-spinner class="flex-grow-1 d-flex flex-column"></app-loading-spinner>
} @else {
  <div
    class="d-flex flex-column gap-4">

    @if (articles === undefined) {
      <p
        class="text-center text-danger fs-5">
        An error has occurred x_x
      </p>
    } @else if (articles.length === 0) {
      <p
        class="text-center fs-5">
        No articles published yet :C
      </p>
    } @else {
      @for (article of articles; track $index) {
        <div>
          <app-article-snippet
            [article]="article"
            [categoryName]="categoryNamesByArticleId?.get(article.id) ?? undefined"
            [onView]="onViewArticle"
            [onEdit]="onEditArticle"
            [onDelete]="onDeleteArticle"></app-article-snippet>
        </div>
      }
    }
  </div>
}
